button{
  border: none;
  outline: none;
  &:hover,&:focus{
    border: none;
    outline: none;
  }
}
.app-container{
  @apply flex justify-center items-center bg-gray-200;
  height: 100vh;
  min-height: 700px;
}
